.example-viewport {
  height: 200px;
  border: 1px solid black;
}

.example-item {
  height: 50px;
}


.index {
  color: blue;
}

.count {
  color: green;
}

.first {
  font-weight: bold;
}

.last {
  font-style: italic;
}

.even {
  background-color: lightgray;
}

.odd {
  background-color: lightyellow;
}