<h1>
  "Wondering how to display a long list efficiently? Virtual scrolling is the technique to display a subset of the data and load more data as the user scrolls down. This is a great way to display a large list of items without compromising performance."
</h1>
<p>
  The cdk-virtual-scroll-viewport displays large lists of elements performantly
  by only rendering the items that fit on-screen. Loading hundreds of elements
  can be slow in any browser; virtual scrolling enables a performant way to
  simulate all items being rendered by making the height of the container
  element the same as the height of total number of elements to be rendered, and
  then only rendering the items in view
</p>

<p>itemSize - The size of the items in the list</p>

<p>Example With some basic properties:</p>
<cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
  <div *cdkVirtualFor="let item of fixedSizeData
  let index = index;
  let count = count;
  let first = first;
  let last = last;
  let even = even;
  let odd = odd"
   class="example-item">
    {{ item }}
    index <span class="index">{{ index }}</span>
count <span class="count">{{ count }}</span>
first <span class="first">{{ first ? "yes" : "No" }}</span>
last <span class="last">{{ last ? "yes" : "No" }}</span>
even <span class="even">{{ even ? "evenItem" : "oddItem" }}</span>
odd <span class="odd">{{ odd ? "oddItem" : "evenItem" }}</span>
  </div>
</cdk-virtual-scroll-viewport>

<p>Learn how to identify list items in Angular using `ngFor` with properties like index, count, first, last, even, and odd</p>
<ul>
  <li>index- The index of the item in the data source.</li>
  <li>count- The total number of items in the data source.</li>
  <li>first- Whether this is the first item in the data source.</li>
  <li>last- Whether this is the last item in the data source.</li>
  <li>even- Whether the index is even.</li>
  <li>odd- Whether the index is odd</li>
</ul>

